<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html xmlns=3D"http://www.w3.org/1999/xhtml">

<head>
    <title>New Website Enquiry</title>
    <meta charset=3D"UTF-8">
    <meta name=3D"viewport" content=3D"width=3Ddevice-width, initial-scale==3D1.0">
    <meta http-equiv=3D"Content-Type" content=3D"text/html; charset=3DUTF-8=">
    <meta http-equiv=3D" X-UA-Compatible" content=3D"IE=3Dedge,chrome=3D1">
    <link href=3D"https://fonts.googleapis.com/css?family=3DPoppins:400,700=%7COpen+Sans:400,700%7CSource+Code+Pro"
        rel=3D"stylesheet">
    <style media=3D"screen" type=3D"text/css">
        @media only screen and (max-width: 640px) {

            h1,
            h2,
            h3,
            h4 {
                font-weight: 700;
                margin: 22px 0 5px;
            }

            h1 {
                font-size: 22px;
            }

            h2 {
                font-size: 18px;
            }

            h3 {
                font-size: 16px;
            }

            .container {
                padding-top: 22px;
            }

            .content-wrap {
                padding: 11px;
            }
        }
    </style>
</head>

<body leftmargin=3D"0" marginwidth=3D"0" topmargin=3D"0" marginheight=3D"0"=bgcolor=3D"#ffffff" itemscope
    itemtype=3D"http://schema.org/EmailMessage"=style=3D'background-color:#fff; font-family:"Open Sans", sans-serif;
    font-s=ize:16px; height:100%; line-height:1.45; margin:0; padding:0; width:100%' h=eight=3D"100%" width=3D"100%">

    <!-- body wrapper -->
    <table cellpadding=3D"0" cellspacing=3D"0" border=3D"0" bgcolor=3D"#f9f9f8"=style=3D"width:100%;
        background-color:#f9f9f8; margin:0 auto" width=3D"100=%">
        <tr>
            <td valign=3D"top" align=3D"center" style=3D"vertical-align:top">

                <!-- email wrapper -->
                <table cellpadding=3D"0" cellspacing=3D"0" border=3D"0" style==3D"width:100%; margin:22px auto;
                    max-width:616px" width=3D"100%">
                    <tr>
                        <td style=3D"vertical-align:top" valign=3D"top">

                            <!-- header -->
                            <table cellpadding=3D"0" cellspacing=3D"0" border==3D"0" style=3D"width:100%"
                                width=3D"100%">
                                <tr>
                                    <td align=3D"center" style=3D"vertical-alig=n:top; color:#103742; padding:22px"
                                        valign=3D"top">
                                        <div>
                                            <img src="{{baseURL}}/content/images/2020/07/logo-5.png" alt=3D"Formspree
                                                Logo Ma=rk" width=3D"66px" height=3D"66px" style=3D"max-width:100%;
                                                margin-bottom:2=2px">
                                        </div>
                                        <p style=3D'font-weight:700; margin-bot=tom:11px; font-family:"Poppins",
                                            sans-serif; margin:0; text-transform:upper=case'>New Form Submission</p>
                                    </td>
                                </tr>
                            </table>
                            <!-- /header -->

                            <!-- main wrapper -->
                            <table cellpadding=3D"0" cellspacing=3D"0" border==3D"0" style=3D"width:100%"
                                width=3D"100%">
                                <tr>
                                    <td style=3D"vertical-align:top; padding:22=px" valign=3D"top">

                                        <!-- content wrapper -->
                                        <table cellpadding=3D"0" cellspacing=3D="0" border=3D"0" style=3D"width:100%"
                                            width=3D"100%">
                                            <tr>
                                                <td align=3D"center" style=3D"v=ertical-align:top; padding:0 0 22px"
                                                    valign=3D"top">
                                                    Hey there,<br>
                                                    {{name}} just submitted got in touch on localhost:2368/. Here's what
                                                    they had to
                                                    say:
                                                </td>
                                            </tr>
                                        </table>
                                        <table cellpadding=3D"0" cellspacing=3D="0" border=3D"0" style=3D"width:100%;
                                            background-color:#fff" width=3D"100%"=bgcolor=3D"#ffffff">
                                            <tr>
                                                <td align=3D"center" style=3D"v=ertical-align:top" valign=3D"top">
                                                    <table cellpadding=3D"0" ce=llspacing=3D"0" border=3D"0"
                                                        style=3D"width:100%; text-align:left" width=3D="100%"
                                                        align=3D"left">
                                                        <tr>
                                                            <td style=3D'vertic=al-align:top; font-family:"Source Code
                                                                Pro", monospace; padding:11px' valig=n=3D"top">
                                                                <table cellpadd=ing=3D"0" cellspacing=3D"0" border=3D"0"
                                                                    style=3D"width:100%" width=3D"100%=">
                                                                    <tr>
                                                                        <td style=3D'vertical-align:top; font-family:"
                                                                    Source Code Pro", monospace; pad=ding:11px;
                                                                    border-bottom:#e3e3da 1px solid; font-size:14px'
                                                                    valign=3D"top">
                                                                    <strong>name:</strong><br>
                                                                    <pre style=3D"white-space:pre-line;
                                                                        font-family:inherit; margin:0">{{name}}</pre>
                                                                    </t>
                                                        </tr>
                                                        <tr>
                                                            <td style=3D'vertical-align:top; font-family:"Source Code
                                                                Pro", monospace; pad=ding:11px; border-bottom:#e3e3da
                                                                1px solid; font-size:14px' valign=3D"top">
                                                                <strong>email:</strong><br>
                                                                <pre style=3D"white-space:pre-line; font-family:inherit;
                                                                    margin:0">{{email}}</pre>
                                                                </t>
                                                        </tr>
                                                        <tr>
                                                            <td= style=3D'vertical-align:top; font-family:"Source Code
                                                                Pro", monospace; pad=ding:11px; border-bottom:#e3e3da
                                                                1px solid; font-size:14px' valign=3D"top">
                                                                <strong>message:</strong><br>
                                                                <pre style=3D"white-space:pre-line; font-family:inherit;
                                                                    margin:0">{{message}}</pre>
                                                                </t>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!-- /content wrapper -->

                        </td>
                    </tr>
                </table>
                <!-- /main wrapper -->

                =20

                <!-- footer -->
                <table cellpadding=3D"0" cellspacing=3D"0" border==3D"0" style=3D"width:100%" width=3D"100%">
                    <tr>
                        <td align=3D"center" style=3D"vertical-alig=n:top; padding:22px; text-align:center;
                            color:#918f8d; font-size:12px" vali=gn=3D"top">You are receiving these emails because you
                            are the designated receiver. To stop these emails please email info@daciatech.com.
                        </td>
                    </tr>

                </table>
                <!-- /footer -->

            </td>
        </tr>
    </table>
    <!-- /email wrapper -->

    </td>
    </tr>
    </table>
    <!-- /body wrapper -->

</body>

</html>